<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/estilo.css">
  <title>Login</title>
</head>

<body>
  <header class="menu">
    <div class="menu-container">
      <div class="menu-logo">LOGIN</div>
      <nav class="menu-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/registrar">Registrar</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="wrapper">
    <div class="container">
      <div class="container-principal">
        <h2>Login</h2>
        <p>Implementando um projeto de login com node.js e mysql, fazendo o template
          com css puro.
        </p>
        <strong>Esse é um container</strong>
      </div>
      <button class="btn">Saiba mais</button>
    </div>
  </main>

  <footer class="footer">
    <p>Todos os direitos reservados</p>
  </footer>

</body>

</html>