<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/estilo.css">
  <title>Login</title>
</head>

<body>
  <header class="menu">
    <div class="menu-container">
      <div class="menu-logo">LOGIN</div>
      <nav class="menu-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/registrar">Registrar</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <form class="form" method="POST">
        <h2>Login</h2>

        <div class="grupo-form">
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
        </div>

        <div class="grupo-form">
          <label for="senha">Senha</label>
          <input type="password" id="senha" name="senha">
        </div>

        <button type="submit" class="btn">Registrar</button>
    </form>

  </main>

    <footer class="footer">
    <p>Todos os direitos reservados</p>
  </footer>

</body>

</html>