*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  background-color: #252525;
  padding: 20px 0;
}

.menu-container {
  display: flex;
  padding: 20px 0;
}

.menu-logo{
  width: 10%;
  font-size: 1.6em;
  color: #fff;
  padding-left: 80px;
}

.menu-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  width: 90%;
  color: #fff;
}

.menu-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.menu-nav ul li a {
  text-decoration: none;
  color:#fff;
  font-size: 1.125em;
}

.menu-nav ul li a:hover{
  color: #888;
}



main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex: 8;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(194, 194, 194, 0.466);
  padding: 40px 0 40px 10px;
  border: 2px solid rgba(194, 194, 194, 0.192);
  border-radius: 5px 5px;
}

.container-principal h2{
  font-size: 1.6em;
}

.container-principal p{
  font-size: 1.125em;
  color: #505050;
  font-style: italic;
  margin: 10px 0;
  max-width: 80%;
}

.container-principal strong{
  font-size: 0.95em;
}

.btn {
  border: 1px solid #222;
  border-radius: 5px 5px;
  font-size: 1em;
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  border: 3px solid rgba(194, 194, 194, 0.192);
  border-radius: 5px 5px;
}

.form h2, .grupo-form{
  padding-left: 10px;
}

.form h2 {
  font-size: 1.6em;
  padding-bottom: 20px;
}

.form label {
  color: #444;
}

.form input {
  padding: 10px 0;
  margin: 10px 3px;
  width: 90%;
}

.form .btn {
  margin-left: 10px;
}

.alert{
  background-color:#e97f7f;
  color: #fff;
  width: 300px;
  margin-top: 5px;
  padding: 10px 10px;
}

.secesso{
  background-color:#54affa;
  color: #fff;
  width: 300px;
  margin-top: 5px;
  padding: 10px 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 10px;
  background-color: #252525;
  text-align: center;
  justify-content:center;
  margin-top: 20px;
}

.footer p {
  text-align: 1.125em;
  color: #fff;
  list-style: italic;
}